"*":
  core:
    allowPendingPaneItems: false
    automaticallyUpdate: false
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    openEmptyEditorOnStart: false
    telemetryConsent: "limited"
    warnOnLargeFileLimit: 2
  editor:
    fontFamily: "FiraCode-Light"
    invisibles: {}
    softWrap: true
  emmet: {}
  "exception-reporting":
    userId: "51631eab-05de-41d4-42b5-39e2bd76bca0"
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  "flatwhite-syntax": {}
  "highlight-selected": {}
  "language-babel":
    allowLocalOverride: true
    autoIndentJSX: false
    transpileOnSave: false
  linter: {}
  "linter-stylelint":
    disableWhenNoConfig: true
    useStandard: true
  "linter-ui-default":
    panelHeight: 71.5
  "markdown-preview":
    useGitHubStyle: true
  minimap:
    plugins:
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      pigments: true
      pigmentsDecorationsZIndex: 0
  "one-dark-ui":
    fontSize: 11
  "one-light-ui":
    layoutMode: "Compact"
  pigments:
    markerType: "native-background"
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
      isDisabledIfNoConfigFile: true
      showInStatusBar: true
    useEditorConfig: false
  react:
    enabledForAllJavascriptFiles: true
  "tool-bar":
    visible: false
  "tree-view":
    showOnRightSide: true
  welcome:
    showOnStartup: false
".js.jsx.source":
  editor:
    autoIndent: true
